/* Ensure global styles are applied */
body {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #FEFAE0;
}

/* ContactSection styles */
.contact-section {
  border: 2px solid #fff !important; 
  border-radius: 10px !important;
  margin: 20px !important;
  color: #FEFAE0;
  padding: 40px;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: rgba(253, 175, 123, 0.2) !important;
}

.contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.contact-section p {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.contact-section a {
  color: #fffa;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.contact-section a:hover {
  color: #fff;
}

.contact-section .social-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-section .social-icons a {
  margin: 10px;
}

.contact-section .social-icons img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in-out;
}

.contact-section .social-icons img:hover {
  transform: scale(1.1);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .contact-section {
      padding: 20px;
  }

  .contact-section h2 {
      font-size: 2rem;
  }

  .contact-section p {
      font-size: 1rem;
  }

  .contact-section .social-icons img {
      width: 35px;
      height: 35px;
  }
}

@media (max-width: 480px) {
  .contact-section {
      padding: 15px;
  }

  .contact-section h2 {
      font-size: 1.5rem;
  }

  .contact-section p {
      font-size: 0.9rem;
  }

  .contact-section .social-icons img {
      width: 30px;
      height: 30px;
  }
}
